<a href="https://colab.research.google.com/github/ammabe1/data_analysis_week_1/blob/main/Amy_Fautz_Mabe_Week_1_Unit_2_variab_notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Variables
The understanding of variables in programming languages is a must!

Variables exist in (almost) every programming language. However, the term has a different meaning in programming
compared to mathematics. In programming, a variable is a name to which a value can be assigned. From a (overly
simplistic) technical point of view, a variable is space in the memory that has a certain value at a point in time.

## Using variables
It is possible to put (or assign or write) a value into the variable. Vice versa, it is possible to read the currently
stored value out of the variable. (Important: After the value of the variable is read, the value in the variable is
still available and unchanged!)

The value of a variable can be set using the assignment operator `=`. For example, the assertion `a = 2` writes the
value `2` into the variable `a`. If in subsequent statements, variable `a` is used, the value from the variable is
taken. For example in the following code cell, first the value `2` is written in to the variable `a`, then the value `3`
is written into cell `b`. In the final statement, the values are read from variable `a` and `b` and multiplied.

Note: In mathematics, `a = 2` is an *assertion*, which is either true or false. In programming, `a = 2` is an
*instruction*, which describes the assignment of the value `2` to the variable `a`.

In [1]:
a = 2
b = 3
a * b

6

### Several assignments in a sequence
The value of a variable can also be changed by an assignment, if assignments take place one after the other. In the
example below, there is the variable `a`. First, the value `2` is assigned to `a`, then the value `3` is assigned. This
second assignment deletes the `2`, the memory is just occupied with the new value `3`. The `2` is forgotten.

In [2]:
a = 2
a = 3
a

3

### Assigning multiple values to multiple variables
Of course, it is possible to have more than one variable in a Python program. You can assign values to those variables
as you have already seen.

In [3]:
a = 1
b = 2
c = 3

b

2

### A variable on both sides of the assignment
Assignments can look strange (or even wrong) through the eyes of mathematics. This is the case, for example, when a
variable is on both sides of the assignment. In the example below, the variable `a` is increased by `10`. To be more
precise: First, the value of the variable `a` is read, the `10` is added, and the result is written back into the memory
location named `a` at the end. This happens to be the same memory location as before.

In [4]:
a = 25
a = a + 10
a

35

### Accessing a variable in read mode
In the examples above you have seen, that variables can be on the right side of the `=`. These variables are accessed in
*read mode*. The value is written into the variables on the left side. This variable is accessed in *write mode*. A
variable can only be accessed in read mode if a value has been assigned to the variable beforehand. Otherwise there is
an error message. Execute the next cell and try to understand the error message.

In [5]:
a = unknown_variable

NameError: name 'unknown_variable' is not defined

#### Small Excursion: Cells in notebooks are connected to each other
When a cell in a notebook has been successfully executed, the results are also known in other cells of the notebook.
- First execute the first of the following two cells. An error message will appear.
- Then execute the second cell and then the first cell again. This time everything should work.
- If you want to repeat the whole process, you must reset the output of all cells in the "Kernel" menu at the top. Then
  the variables will *forget* their current values.

In [8]:
a = new_variable + 10
a

30

In [7]:
new_variable = 20

## Sequentialization of assignments
Sometimes it happens that several operations are applied to one variable. These can also be sequentialized with the help
of the construct above. This sometimes helps to make a program better readable. For example, the assignment `a = 5 * 3 * 7 + (2 - 10 * 3)`
can be written as follows: (When sequentializing, one must be careful not to violate any bracket rule or the like).

In [9]:
a = 5
a = a * 3
a = a * 7
a = a + (2 - 10 * 3)
a

77

## Only one variable on the left side of an assignment
On the right-hand side of an assignment, there can be complex expressions which themselves contain variables (e.g. a = b
** 2 + c ** 2). On the left side, on the other hand, there can only be the one variable. If you execute the following
construct, an error message will occur.

In [10]:
b = 3
c = 4

a ** 2 = b ** 2 + c ** 2
a

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (<ipython-input-10-a890a062edb9>, line 4)

You have certainly recognised Pythagoras' theorem in the cell above. But how do you then obtain the length of a if b and
c are given? The calculation can be done in two steps as follows.

In [11]:
b = 3
c = 4

a = b ** 2 + c ** 2
a = a ** 0.5
a

5.0

## Variable Names
There are a number of rules for variable names in Python. A variable name must always begin with a letter or an
underscore `_`. This can be followed by any number of letters, digits and underscores.

Variable names may not contain special characters or spaces. Thus, for example, the following variable names are valid:

In [12]:
name = "David"
surname = "Bowie"
account_balance = -2000
_new_balance = 1000

In contrast, the following variable names are invalid. Execute the cell and check the error message.

In [14]:
1_konto = 1234
email@fh = 'jacobs@fh-aachen.de'

SyntaxError: invalid decimal literal (<ipython-input-14-9d8469bfcad7>, line 1)

In Python, variable names are case sensitive. This means that in a Python program, `name` and `Name` represent different
variables. This is illustrated in the following example.

In [15]:
name = "Joey"
Name = "Ramone"

name + " " + Name

'Joey Ramone'

Finally, there are a number of *reserved keywords* in Python that must not be used as variable names. These keywords
have a special meaning in Python, which you will learn about in the course of the lecture. Example of reserved keywords
are `and`, `while` or `if`. Execute the following cell and have a look at the error message.

In [16]:
if = 42

SyntaxError: invalid syntax (<ipython-input-16-872673c2f7ad>, line 1)

## Conventions for Variable Names
In the Python community, lower case is preferred for variable names. Thus,  `name` is used instead of `Name`. Variable
names that consist of several words are separated by an underscore `_`, e.g. `account_number` or
`minimum_account_balance`.

Not every allowed variable name is a good variable name! A good programming style (not only in Python) is characterised
by the fact that a program is easy for a human to understand.

> Any fool can write code that a computer can understand. Good programmers write code that humans can understand.<br>
> Martin Fowler, 2008.

For this reason, you should use variable names that have a meaning.

- `new_account_balance` is better than `nab`
- `car_length` is better than `length`

Make your programs readable by using good variable names so that you will still be able to understand it in a year's
time.

In [17]:
a = 5
b = 7
a = b
print(a)

7

In [18]:
a = 5
b = 7
b = a
print(a)
print(b)

5
5

## More Details about Variables

In Python, a *variable* is created in an assignment the first time it is used. Variables do not have to be declared
first, as in some other programming languages.  
A *variable* can be on both the right and left side of the assignment operator at the same time.

In [19]:
a = 10
a = a + 1
print(a)

11

In programming the statement in the middle means, that the value in the variable `a` is increased by `1`. Sometimes
the term *Increment* is used. This construction is used quite often. Thus Python offers a short way of writing this
statement: `a += 1`. Yes, from a mathematics point of view this looks really weird but it simply means that the value
stored in `a` is increased by `1`.

In [20]:
a = 1
a += 1
print(a)

2

The same short way of writing works with other operators and values:

In [21]:
a = 10
a *= 2
a -= 100
print(a)

-80

# Exercise
Calculate the volume and surface area of a cube (side lengths a, b, c equal) or a cuboid (side lengths a, b, c
different). Proceed as follows:
- Define reasonable names for the variables representing the side length of the cube and assign values to them.
- Calculate the area of the cube and assign the result to the variable cube_area.
- Calculate the volume of the cube and assign the result to the variable cube_volume.
- Output the result of the calculation using the following statements: `print(cube_area)` and `print(cube_volume)`

Repeat these steps for the cuboid.

In [22]:
length = 5
height = 6
width = 7
cube_volume= length * height * width
print(cube_volume)
cube_area = 2 * (length * height + length * width + height * width)
print(cube_area)

210
214